<h1>All Stores</h1>

<p>Visit the store closest to you to see available products.<br />
<%= link_to "Add Store", "#" %></p>

<% @stores.each do |store| %>
	<div class="store">
		<p><%= link_to "#{store.city}, #{store.state}", "/stores/#{store.id}" %></p>
	</div>
<% end %>