<h1>All Stores</h1>

<p>Visit the store closest to you to see available products.<br />
<%= link_to "Add Store", "#" %></p>

<div class="store">
	<p><%= link_to "Boston, MA", "stores/1" %></p>
</div>

<div class="store">
	<p><%= link_to "New York City, NY", "stores/2" %></p>
</div>