<h1>Add Hockey Store</h1>

<%= form_for @store, url: {action: "create"} do |f| %>
	<p>City <%= f.text_field(:city) %></p>
	<p>State <%= f.text_field(:state) %></p>

	<%= submit_tag("Add Store") %>

<% end %>