<h1><%= "#{@store.city}, #{@store.state}" %> Store</h1>

<p>Click on any of the products to see more details.<br />
<%= link_to "Add Product", "/stores/#{@store.id}/products/new" %></p>

<% @products.each do |product| %>
	<div class="product">
		<p><%= link_to "#{product.name}", "/stores/#{@store.id}/products/#{product.id}" %></p>
	</div>
<% end %>